.mainSection {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonSection {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .buttonSection {
    flex-direction: column;
  }
}
